<p id="notice"><%= notice %></p>

<h1>  <%= @course.name %></h1>
  
<h2>Unidades del curso </h2>


<table>
  <thead>
    <tr>
      
      <th>Nombre</th>
      <th>Descripcion de la unidad</th>
     
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  
    <% @course.units.each do |unit| %>
      <tr>
        
        <td><%= unit.name %></td>        
        <td><%= unit.description %></td>
        <td><%= link_to "Editar", edit_course_unit_path(@course, unit)  %></td>
      <td><%= link_to  "Agregar", new_course_unit_path %></td>
      <td><%= link_to  "Inicar Unidad", course_unit_path(@course,unit), remote: true %></td>


      <td><%= link_to "Eliminar", course_unit_path(@course,unit),method: :delete, data:{confirm:"estas seguro?"} %></td> 
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unit', new_course_unit_path %>

<div id="unit-modal" class="modal fade bs-example-modal-lg"></div>